In [1]:
import nbimporter
import pandas as pd
import json
from tqdm import tqdm_notebook
from textprocessing import SpacyTokenizer

Importing Jupyter notebook from textprocessing.ipynb

## Pre-process <code>yelp_example_1_small.tsv</code>

In [2]:
yelp_file = 'data/yelp_example_1_small.tsv'
yelp = pd.read_csv(yelp_file, sep='\t')

In [3]:
yelp.head()

,content,score,business,avgstars
0,This place is WAAAY over priced for the generi...,1,Lee's Buffet,2.0
1,Our taxi driver had told us to go to this plac...,5,Village Pub and Cafe,3.5
2,Not worth the $20! I'm a Las Vegas buffet conn...,2,Golden Nugget Buffet,2.5
3,Great All-American cuisine with hearty helping...,5,Black Bear Diner,4.0
4,The bacon burger is a MUST! One of the most de...,5,Bacon Bar,3.5

In [7]:
tokenizer = SpacyTokenizer(lemma=True, pos_filter=['NOUN', 'ADV', 'ADJ', 'VERB'])

In [8]:
yelp.iloc[0].content

'This place is WAAAY over priced for the generic cuisine they serve. Aside from that, the food is only room temperature. You are much better off spending your dollars at Buffet @ Asia. At least there they have a decent assortment of sushi and a standard Mongolian BBQ.'

In [9]:
tokenizer.tokenize(yelp.iloc[0].content)

[('place', 'NOUN'),
 ('be', 'VERB'),
 ('price', 'VERB'),
 ('generic', 'ADJ'),
 ('cuisine', 'NOUN'),
 ('serve', 'VERB'),
 ('aside', 'ADV'),
 ('food', 'NOUN'),
 ('be', 'VERB'),
 ('only', 'ADV'),
 ('room', 'NOUN'),
 ('temperature', 'NOUN'),
 ('be', 'VERB'),
 ('much', 'ADV'),
 ('well', 'ADJ'),
 ('spend', 'VERB'),
 ('dollar', 'NOUN'),
 ('least', 'ADJ'),
 ('there', 'ADV'),
 ('have', 'VERB'),
 ('decent', 'ADJ'),
 ('assortment', 'NOUN'),
 ('sushi', 'NOUN'),
 ('standard', 'ADJ'),
 ('mongolian', 'ADJ'),
 ('bbq', 'NOUN')]

In [10]:
docs, titles, scores = [], [], []
data = tqdm_notebook(list(yelp.iterrows()))
for i, row in data:
    tokens = tokenizer.tokenize(row.content)
    docs.append(tokens)
    titles.append(row.business)
    scores.append(row.score)

HBox(children=(IntProgress(value=0, max=5000), HTML(value='')))

In [11]:
with open('data/yelp_example_1.json', 'w') as out:
    json.dump({'docs': docs, 'titles': titles, 'scores': scores}, out)