# Example 0: working with text in Python

In [ ]:
import sys
print(sys.version)

In [ ]:
# this is a comment

In [ ]:
""" this is also a comment
possibly over several lines
"""

In [ ]:
type("99")

In [ ]:
type(99)

## Basic string operations

In [ ]:
# concatenate strings
str1 = 'ooh'
str2 = "how nice"
str1 + str2

In [ ]:
# concatenate strings
str3 = str1 + " " + str2
str3

In [ ]:
# concatenate strings
str1 * 3

In [ ]:
# length of string
letters = "abcdefghijk"
len(letters)

In [ ]:
# first character 
letters[0]

In [ ]:
# first 4 characters + all characters starting from the 5th  
letters[0:4] + letters[4:]

In [ ]:
# all characters starting from the 5th  
letters[4:]

In [ ]:
# last 3 characters
letters[-3:]

In [ ]:
# from first character, to the 7th character, by every two characters
letters[0:8:2]

In [ ]:
# length of string
sent = "this is my first list of words; nothing special about them I say to my self \n"
len(sent)

In [ ]:
# split string
lsent = sent.split()
lsent

In [ ]:
# join strings
" ".join(lsent)

In [ ]:
# starts with?
sent.startswith("this")

In [ ]:
# ends with?
sent.endswith('him')

In [ ]:
# contains?
sent.find('my')

In [ ]:
# count occurrences
sent.count('my')

In [ ]:
# contains only alphanumeric characters?
sent.isalpha()

In [ ]:
# removes leading and trailing whitespaces
sent.strip()

In [ ]:
# removes leading characters
sent.strip('t')

In [ ]:
# capitalize first letter
sent.capitalize()

In [ ]:
# capitalize first letter of each word
sent.title()

In [ ]:
# convert to uppercase
sent.upper()

In [ ]:
# convert to lowercase
sent.lower()

In [ ]:
# swap lower with upper case
sent.swapcase()

In [ ]:
# replace occurrence
sent.replace('my',"mad")

## Basic Python structures: Lists, Tuples, Dictionaries, Sets

In [ ]:
# lists
dlist = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']
mlist = ['January','February','March','April','May','June']

In [ ]:
# first element
dlist[0]

In [ ]:
# list of lists
calend = [dlist,mlist]
calend

In [ ]:
# first element
calend[0]

In [ ]:
# third element of the first element
calend[0][2]

In [ ]:
# last element of the second element
calend[1][-1]

In [ ]:
# append element to list
mlist.append('July')
mlist

In [ ]:
# append element to list
dlist.append(mlist)
dlist

In [ ]:
# second to last
dlist[-2]

In [ ]:
# remove all elements from second to last on
del dlist[-2:]
dlist

In [ ]:
# extend list with elements in another list
dlist.extend(mlist)
dlist

## Lists are passed by reference: side effects!

In [ ]:
# you probably DON'T want to do this
copied = dlist
copied

In [ ]:
# change element in the copied list
copied[0] = 'surprise'

In [ ]:
# also the element of the original list has been modified! 
# the list is not copied but both the variable 'copied' and 'dlist' are actually the same object!
dlist

In [ ]:
# this is safe to do
right = dlist.copy() 
right[0] = 'This will not change the original list'
dlist

## Sorting lists

In [ ]:
# sort list in ascending order
dlist.sort()
dlist

In [ ]:
# sort list in descending order
dlist.sort(reverse = True)
dlist

In [ ]:
# return a copy of the sorted list 
mlist2 = sorted(mlist) 
print(mlist)
print(mlist2)

# Tuples

In [ ]:
# assign a = 2 and b = 3
(a,b) = (2,3) 
print(a)
print(b)

In [ ]:
# swap a with b
b,a = a,b
print(a)
print(b)

In [ ]:
# define a tuple
x = a,b
x

In [ ]:
# length of a tuple
len(x)

# Dictionaries (hash tables, unique keys): unlike list, order is arbitrary

In [ ]:
# dictionary
dico = {'Anna':22 ,'Maria':35 ,'Laura':60, 'Michael':56}
dico

In [ ]:
# element by key 
dico['Anna']

In [ ]:
# keys
dico.keys()

In [ ]:
# values
dico.values()

In [ ]:
# items
dico.items()

In [ ]:
# loop over dictionary keys
for name in list(dico.keys()):
    print(name, dico[name])

In [ ]:
# sort keys and loop 
for name in sorted(list(dico.keys())):
    print("%15s has age %d" % (name, dico[name]))

In [ ]:
# update dictionary with another dictionary
dico.update({'Huang':44})
dico

In [ ]:
# remove element by key
del dico['Anna']
dico

## Sets: no order, only unique elements. Dictionaries are particular types of sets

In [ ]:
# define sets
evenNbrs = {2,4,6,8,10}
otherset = {1,2,3,4,5}

In [ ]:
# length of set
len(evenNbrs)

In [ ]:
# element in set?
2 in evenNbrs

In [ ]:
# intersection
otherset.intersection(evenNbrs)

In [ ]:
# union
otherset.union(evenNbrs)

In [ ]:
# difference
otherset.difference(evenNbrs)

# Python flows

In [ ]:
# if-else
dolearn = False

if dolearn:
    print('Will get a good grade')
elif dolearn=='lazy':
    print('lazy bone')
else:
    print('will fail')

In [ ]:
# while loop
count = 1
while count <= 3: 
    print(count)
    count += 1

In [ ]:
# for loop over characters
word = 'Empirical Asset'
for letter in word:
    print(letter)

In [ ]:
# for loop over tuples

days = ['Monday', 'Tuesday', 'Wednesday']
fruits = ['banana', 'orange', 'peach']
drinks = ['coffee', 'tea', 'beer']
desserts = ['tiramisu', 'ice cream', 'pie', 'pudding']

for day, fruit, drink in zip(days, fruits, drinks):
    print(day, ": drink", drink, "- eat", fruit)

Matlab type i=1:10

In [ ]:
# for loop over range
for i in range(1,3):
    print(i)

In [ ]:
# for loop over range
for i in range(1,10,2):
    print(i)

# Elegant way to work with lists

In [ ]:
# define list with for loop
number_list = [number for number in range(1,10)]
number_list

In [ ]:
# loop over list
for i in number_list:
    print(i)

In [ ]:
# define list with for loop and condition
evenlist = [number for number in range(1,10) if number%2==0]
evenlist

In [ ]:
# define list applying a function in for loop with condition

def capi(x):
    return x.swapcase()

listop = [capi(x) for x in ['THIS', 'IS', 'amazing', '!'] if x!='!']
listop

# Example 1: splitting strings

In [1]:
# Dante Alighieri's Divine Comedy in English
# Loading, opening and reading text (or "corpus") file:
filename = 'DivineComedy.txt'
file = open(filename, 'rt')
text = file.read()
file.close()
#Printing:
print(text)

MIDWAY upon the journey of our life
I found myself within a forest dark,
For the straightforward pathway had been lost.
Ah me! how hard a thing it is to say
What was this forest savage, rough, and stern,
Which in the very thought renews the fear.
So bitter is it, death is little more;
But of the good to treat, which there I found,
Speak will I of the other things I saw there.
I cannot well repeat how there I entered,
So full was I of slumber at the moment
In which I had abandoned the true way.

In [2]:
# splitting into words by white space
words = text.split()
print(words[:100])

['MIDWAY', 'upon', 'the', 'journey', 'of', 'our', 'life', 'I', 'found', 'myself', 'within', 'a', 'forest', 'dark,', 'For', 'the', 'straightforward', 'pathway', 'had', 'been', 'lost.', 'Ah', 'me!', 'how', 'hard', 'a', 'thing', 'it', 'is', 'to', 'say', 'What', 'was', 'this', 'forest', 'savage,', 'rough,', 'and', 'stern,', 'Which', 'in', 'the', 'very', 'thought', 'renews', 'the', 'fear.', 'So', 'bitter', 'is', 'it,', 'death', 'is', 'little', 'more;', 'But', 'of', 'the', 'good', 'to', 'treat,', 'which', 'there', 'I', 'found,', 'Speak', 'will', 'I', 'of', 'the', 'other', 'things', 'I', 'saw', 'there.', 'I', 'cannot', 'well', 'repeat', 'how', 'there', 'I', 'entered,', 'So', 'full', 'was', 'I', 'of', 'slumber', 'at', 'the', 'moment', 'In', 'which', 'I', 'had', 'abandoned', 'the', 'true', 'way.']

In [3]:
# Counting words:
wordfreq = []
for w in words:
    wordfreq.append(words.count(w))
# Displaying words' frequencies:
print("Frequencies\n" + str(wordfreq) + "\n")
print("Pairs\n" + str(list(zip(words, wordfreq))))

Frequencies
[1, 1, 8, 1, 4, 1, 1, 8, 1, 1, 1, 2, 2, 1, 1, 8, 1, 1, 2, 1, 1, 1, 1, 2, 1, 2, 1, 1, 3, 2, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 8, 1, 1, 1, 8, 1, 2, 1, 3, 1, 1, 3, 1, 1, 1, 4, 8, 1, 2, 1, 2, 2, 8, 1, 1, 1, 8, 4, 8, 1, 1, 8, 1, 1, 8, 1, 1, 1, 2, 2, 8, 1, 2, 1, 2, 8, 4, 1, 1, 8, 1, 1, 2, 8, 2, 1, 8, 1, 1]

Pairs
[('MIDWAY', 1), ('upon', 1), ('the', 8), ('journey', 1), ('of', 4), ('our', 1), ('life', 1), ('I', 8), ('found', 1), ('myself', 1), ('within', 1), ('a', 2), ('forest', 2), ('dark,', 1), ('For', 1), ('the', 8), ('straightforward', 1), ('pathway', 1), ('had', 2), ('been', 1), ('lost.', 1), ('Ah', 1), ('me!', 1), ('how', 2), ('hard', 1), ('a', 2), ('thing', 1), ('it', 1), ('is', 3), ('to', 2), ('say', 1), ('What', 1), ('was', 2), ('this', 1), ('forest', 2), ('savage,', 1), ('rough,', 1), ('and', 1), ('stern,', 1), ('Which', 1), ('in', 1), ('the', 8), ('very', 1), ('thought', 1), ('renews', 1), ('the', 8), ('fear.', 1), ('So', 2), ('bitter', 1), ('is', 3), ('it,', 1), ('death', 1), ('is', 3), ('little', 1), ('more;', 1), ('But', 1), ('of', 4), ('the', 8), ('good', 1), ('to', 2), ('treat,', 1), ('which', 2), ('there', 2), ('I', 8), ('found,', 1), ('Speak', 1), ('will', 1), ('I', 8), ('of', 4), ('the', 8), ('other', 1), ('things', 1), ('I', 8), ('saw', 1), ('there.', 1), ('I', 8), ('cannot', 1), ('well', 1), ('repeat', 1), ('how', 2), ('there', 2), ('I', 8), ('entered,', 1), ('So', 2), ('full', 1), ('was', 2), ('I', 8), ('of', 4), ('slumber', 1), ('at', 1), ('the', 8), ('moment', 1), ('In', 1), ('which', 2), ('I', 8), ('had', 2), ('abandoned', 1), ('the', 8), ('true', 1), ('way.', 1)]

# Example 2: conversion from hex to dec

In [7]:
# From an example in wikipedia: conversion from integer (<16) to hex
def toHex(d):
    if (d < 16):
        res = d % 16
        if (d - res == 0):
            return toChar(res)
        else:
            return (((d - res) / 16) + toChar(res))
    else:
        print('please, type an integer 0-15')

def toChar(n):
    const_alpha = "0123456789ABCDEF"
    return const_alpha[n]

In [8]:
toHex(117)

please, type an integer 0-15

# Example 3: Encoding

In [10]:
import pandas as pd
pd.read_csv('crncy-ansi.csv')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x80 in position 19: invalid start byte

In [11]:
# read in the correct encoding
crncy = pd.read_csv('crncy-ansi.csv', sep =',', encoding='cp850')
crncy

    crncy symbol
0    euro      Ç
1  dollar      $
2   pound      ú

In [12]:
# write file in UTF-8 (default in Python 3)
crncy.to_csv('crncy.csv', index=False)

In [13]:
# read from UTF-8 (default in Python 3)
pd.read_csv('crncy.csv')

    crncy symbol
0    euro      Ç
1  dollar      $
2   pound      ú

In [14]:
pd.set_option('display.max_colwidth', None)
BikeMi = pd.read_csv('opinion.csv', sep=';')
BikeMi = pd.DataFrame(BikeMi)
print(BikeMi.iloc[0])

review    Quando ho avuto problemi con la restituzione della bici l'assistenza è stata molto gentile, ma non ha potuto risolvere velocemente il problema nè evitare che mi venisse addebitato il costo del noleggio perchè avevo superato la mezz'ora (non a causa del percorso da me effettuato, ma a causa dell'impossibilità di riagganciare la bici in 2 stazioni diverse). Sarebbe auspicabile poter risolvere i problemi più efficientemente o almeno non far pagare l'utente in caso di segnalato disservizio. Per il resto, quando il servizio funziona, è davvero pratico e utile.
Name: 0, dtype: object

# Example 4: Regular Expressions (finding characters in a text)

In [15]:
twitt_text = "Canadian Prime Minister Justin Trudeau on the Trump loyalist #CapitolBuilding attack: 'What we witnessed was an assault on democracy by violent rioters, incited by the current president and other politicians.#Capitol"

In [16]:
import re
re.findall(r'#\w+', twitt_text)

['#CapitolBuilding', '#Capitol']

In [17]:
#Now try to find all words beginning with 'T'
re.findall(r'T\w+', twitt_text)

['Trudeau', 'Trump']

In [18]:
#Now find all the regular past clauses
re.findall(r'\w+ed', twitt_text)

['witnessed', 'incited']

# Example 5: Regular Expressions (finding characters in a text)

In [19]:
twitt_text2 = "Citizens protest @BorisJohnson’s latest thoughtless lockdown in #Clapham, #London. #LockdownLevel3"

In [20]:
#Now try to find all words beginning with '@'
re.findall(r'@\w+', twitt_text2)

['@BorisJohnson']

In [21]:
#Now try to find callouts and hashtags
re.findall(r'(@\w+|#\w+)', twitt_text2)
#'(iPhone|iPad)'

['@BorisJohnson', '#Clapham', '#London', '#LockdownLevel3']

# Example 6: Regular Expressions (Matching characters)

In [23]:

twitt_text3 = "Instead, we see local FOP leaders like John Catanzara in Chicago sympathizing with the white supremacists who stormed the Capitol. The same man who suggested cops could get away with shooting Black people engaged in peaceful protests last summer."

#Searching for a string starting with "Cap" and ending with "ol":
x = re.findall("Cap..ol", twitt_text3)
print(x)

['Capitol']

In [24]:
#Searching for a string ending with "ed":

x = re.findall("summer.$", twitt_text3)
if x:
  print("Yes, the string ends with 'summer.'")
else:
  print("No match")

Yes, the string ends with 'summer.'

# Example 7: Regular Expressions (Character symbols)

'search' is used for searching characters within strings. Output is the position of the searched character

In [25]:
import re
# Search for the first white-space character in a twitter message:
twitt_text4 = "According to the tick-tock of Wednesday’s siege, Capitol Police requested National Guard support at 2:22 p.m. But support from the Guard didn’t arrive until 5:45 p.m.What explains the 3 hour delay?"
x = re.search("\s", twitt_text4)
print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 9

# Example 8: Regular Expressions (Quantifiers)

In [34]:
BritishEn = "modelling" #British English
AmericanEn = "modeling" #American English
x = re.search("l{2}", BritishEn) # Example 9: Basic Regular Expressions (Other examples) En)
if x:
    print("Yes, we have two 'l's")
else:
    print("No, we don't have two 'l's")

Yes, we have two 'l's

# Example 9: Basic Regular Expressions (Other examples)

In [36]:
# Print a list of all matches:
str = "The rain in Spain stays mainly in the plain"
x = re.findall("ay", str)
print(x)

['ay']

### Pronounciation of "h" in British English (from "My fair lady" movie - https://www.youtube.com/watch?v=HOhVdoxrTvA, start from sec 30)

In [37]:
str = "In Hertford, Hereford, Hampshire, hurricanes hardly ever happen"
x = re.findall("h|H", str)
print(x)

['H', 'H', 'H', 'h', 'h', 'h', 'h']

## The split() Function

The split() function returns a list where the string has been split at each match:

In [ ]:
str = "The rain in Spain stays mainly in the plain"
x = re.split("\s", str)
print(x)

You can control the number of occurrences by specifying the maxsplit parameter:

## The sub() Function

The sub() function replaces the matches with the text of your choice:

In [38]:
# Replace every white-space character with character '_':
str = "In Hertford, Hereford, Hampshire, hurricanes hardly ever happen"
x = re.sub("\s", "_", str)
print(x)

In_Hertford,_Hereford,_Hampshire,_hurricanes_hardly_ever_happen

You can control the number of replacements by specifying the count parameter:

In [39]:
# Replace the first 2 occurrences:
str = "In Hertford, Hereford, Hampshire, hurricanes hardly ever happen"
x = re.sub("\s", "_", str, 2)
print(x)

In_Hertford,_Hereford, Hampshire, hurricanes hardly ever happen

## Match Object

A Match Object is an object containing information about the search and the result.

In [40]:
# Do a search that will return a Match Object:
str = "In Hertford, Hereford, Hampshire, hurricanes hardly ever happen"
x = re.search("He", str)

print(x)            # the object

<re.Match object; span=(3, 5), match='He'>

In [41]:
print(x.span())     # a tuple containing the start-, and end positions of the match.

(3, 5)

In [42]:
print(x.string)     # the string passed into the function

In Hertford, Hereford, Hampshire, hurricanes hardly ever happen

In [43]:
print(x.group())    # the part of the string where there was a match

He

# Example 10: Tokenization with simple commands

In [44]:
txt = "Elvis created a classic rock 'n' roll band. I don't think there is a musician today that hasn't been affected by Elvis' music"
txt.split(' ') # Naive

['Elvis',
 'created',
 'a',
 'classic',
 'rock',
 "'n'",
 'roll',
 'band.',
 'I',
 "don't",
 'think',
 'there',
 'is',
 'a',
 'musician',
 'today',
 'that',
 "hasn't",
 'been',
 'affected',
 'by',
 "Elvis'",
 'music']

In [45]:

import nltk # NLTK has an in-built tokenizer! 
nltk.download('punkt')
nltk.word_tokenize(txt)

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/giancarlomanzi/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

['Elvis',
 'created',
 'a',
 'classic',
 'rock',
 "'",
 'n',
 "'",
 'roll',
 'band',
 '.',
 'I',
 'do',
 "n't",
 'think',
 'there',
 'is',
 'a',
 'musician',
 'today',
 'that',
 'has',
 "n't",
 'been',
 'affected',
 'by',
 'Elvis',
 "'",
 'music']

# Example 11: splitting long text in sentences

In [46]:
import nltk
text = "MIDWAY upon the journey of our life, I found myself within a forest dark, for the straightforward pathway had been lost.  Ah me! how hard a thing it is to say what was this forest savage, rough, and stern, which in the very thought renews the fear.  So bitter is it, death is little more; but of the good to treat, which there I found, speak will I of the other things I saw there. I cannot well repeat how there I entered,  so full was I of slumber at the moment in which I had abandoned the true way"
nltk.sent_tokenize(text)# Example 12: n-grams

['MIDWAY upon the journey of our life, I found myself within a forest dark, for the straightforward pathway had been lost.',
 'Ah me!',
 'how hard a thing it is to say what was this forest savage, rough, and stern, which in the very thought renews the fear.',
 'So bitter is it, death is little more; but of the good to treat, which there I found, speak will I of the other things I saw there.',
 'I cannot well repeat how there I entered,  so full was I of slumber at the moment in which I had abandoned the true way']

# Example 12: n-grams

In [47]:
bigrams = nltk.ngrams(nltk.word_tokenize(text), n = 4)
for grams in bigrams: 
    print (grams)

('MIDWAY', 'upon', 'the', 'journey')
('upon', 'the', 'journey', 'of')
('the', 'journey', 'of', 'our')
('journey', 'of', 'our', 'life')
('of', 'our', 'life', ',')
('our', 'life', ',', 'I')
('life', ',', 'I', 'found')
(',', 'I', 'found', 'myself')
('I', 'found', 'myself', 'within')
('found', 'myself', 'within', 'a')
('myself', 'within', 'a', 'forest')
('within', 'a', 'forest', 'dark')
('a', 'forest', 'dark', ',')
('forest', 'dark', ',', 'for')
('dark', ',', 'for', 'the')
(',', 'for', 'the', 'straightforward')
('for', 'the', 'straightforward', 'pathway')
('the', 'straightforward', 'pathway', 'had')
('straightforward', 'pathway', 'had', 'been')
('pathway', 'had', 'been', 'lost')
('had', 'been', 'lost', '.')
('been', 'lost', '.', 'Ah')
('lost', '.', 'Ah', 'me')
('.', 'Ah', 'me', '!')
('Ah', 'me', '!', 'how')
('me', '!', 'how', 'hard')
('!', 'how', 'hard', 'a')
('how', 'hard', 'a', 'thing')
('hard', 'a', 'thing', 'it')
('a', 'thing', 'it', 'is')
('thing', 'it', 'is', 'to')
('it', 'is', 'to', 'say')
('is', 'to', 'say', 'what')
('to', 'say', 'what', 'was')
('say', 'what', 'was', 'this')
('what', 'was', 'this', 'forest')
('was', 'this', 'forest', 'savage')
('this', 'forest', 'savage', ',')
('forest', 'savage', ',', 'rough')
('savage', ',', 'rough', ',')
(',', 'rough', ',', 'and')
('rough', ',', 'and', 'stern')
(',', 'and', 'stern', ',')
('and', 'stern', ',', 'which')
('stern', ',', 'which', 'in')
(',', 'which', 'in', 'the')
('which', 'in', 'the', 'very')
('in', 'the', 'very', 'thought')
('the', 'very', 'thought', 'renews')
('very', 'thought', 'renews', 'the')
('thought', 'renews', 'the', 'fear')
('renews', 'the', 'fear', '.')
('the', 'fear', '.', 'So')
('fear', '.', 'So', 'bitter')
('.', 'So', 'bitter', 'is')
('So', 'bitter', 'is', 'it')
('bitter', 'is', 'it', ',')
('is', 'it', ',', 'death')
('it', ',', 'death', 'is')
(',', 'death', 'is', 'little')
('death', 'is', 'little', 'more')
('is', 'little', 'more', ';')
('little', 'more', ';', 'but')
('more', ';', 'but', 'of')
(';', 'but', 'of', 'the')
('but', 'of', 'the', 'good')
('of', 'the', 'good', 'to')
('the', 'good', 'to', 'treat')
('good', 'to', 'treat', ',')
('to', 'treat', ',', 'which')
('treat', ',', 'which', 'there')
(',', 'which', 'there', 'I')
('which', 'there', 'I', 'found')
('there', 'I', 'found', ',')
('I', 'found', ',', 'speak')
('found', ',', 'speak', 'will')
(',', 'speak', 'will', 'I')
('speak', 'will', 'I', 'of')
('will', 'I', 'of', 'the')
('I', 'of', 'the', 'other')
('of', 'the', 'other', 'things')
('the', 'other', 'things', 'I')
('other', 'things', 'I', 'saw')
('things', 'I', 'saw', 'there')
('I', 'saw', 'there', '.')
('saw', 'there', '.', 'I')
('there', '.', 'I', 'can')
('.', 'I', 'can', 'not')
('I', 'can', 'not', 'well')
('can', 'not', 'well', 'repeat')
('not', 'well', 'repeat', 'how')
('well', 'repeat', 'how', 'there')
('repeat', 'how', 'there', 'I')
('how', 'there', 'I', 'entered')
('there', 'I', 'entered', ',')
('I', 'entered', ',', 'so')
('entered', ',', 'so', 'full')
(',', 'so', 'full', 'was')
('so', 'full', 'was', 'I')
('full', 'was', 'I', 'of')
('was', 'I', 'of', 'slumber')
('I', 'of', 'slumber', 'at')
('of', 'slumber', 'at', 'the')
('slumber', 'at', 'the', 'moment')
('at', 'the', 'moment', 'in')
('the', 'moment', 'in', 'which')
('moment', 'in', 'which', 'I')
('in', 'which', 'I', 'had')
('which', 'I', 'had', 'abandoned')
('I', 'had', 'abandoned', 'the')
('had', 'abandoned', 'the', 'true')
('abandoned', 'the', 'true', 'way')

In [49]:
from nltk.tokenize import SyllableTokenizer
from nltk import word_tokenize 
text = "Supercalifragilisticexpialidocious"
# Create a reference variable for Class word_tokenize 
tk = SyllableTokenizer() 
tk.tokenize(text)

['Su',
 'per',
 'ca',
 'li',
 'fra',
 'gi',
 'lis',
 'ti',
 'cex',
 'pia',
 'li',
 'do',
 'cio',
 'us']

In [51]:
text = "To be or not to be"
nltk.FreqDist(nltk.word_tokenize(text))

FreqDist({'be': 2, 'To': 1, 'or': 1, 'not': 1, 'to': 1})

In [52]:
nltk.FreqDist(nltk.word_tokenize(text.lower()))

FreqDist({'to': 2, 'be': 2, 'or': 1, 'not': 1})

# Example 13: stop words

In [53]:
from nltk.corpus import stopwords 
import string
stop_words_en = stopwords.words("english") 
stop_words_it = stopwords.words("italian")

stop_words_en = stop_words_en + list(string.punctuation)
stop_words_en

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 '!',
 '"',
 '#',
 '$',
 '%',
 '&',
 "'",
 '(',
 ')',
 '*',
 '+',
 ',',
 '-',
 '.',
 '/',
 ':',
 ';',
 '<',
 '=',
 '>',
 '?',
 '@',
 '[',
 '\\',
 ']',
 '^',
 '_',
 '`',
 '{',
 '|',
 '}',
 '~']

In [54]:
import nltk 
#Text from 'The Guardian', 11/1/2021
text = "House will first try to force Mike Pence to oust president by invoking 25th amendment and then move forward with impeachment"

[w for w in nltk.word_tokenize(text.lower()) 
     if w not in stop_words_en]

['house',
 'first',
 'try',
 'force',
 'mike',
 'pence',
 'oust',
 'president',
 'invoking',
 '25th',
 'amendment',
 'move',
 'forward',
 'impeachment']